@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebApplication1.Models.People.PeopleViewModel;

<form method="post">
    <label>Search</label>
    <input type="text" name="searchTerm" />
    <input type="submit" />
</form>

<h3>Create Person</h3>
<form asp-action="Create" method="post">
    <label>Person Name</label>
    <input type="text" name="PersonName" />
    <label>Phone Number</label>
    <input type="number" name="PersonPhoneNumber" />
    <label>City</label>
    <input type="text" name="PersonCity" />
    <input type="submit" />
</form>

<p>@TempData["Message"]</p>
<table>
    @{
        foreach (WebApplication1.Models.Person p in Model.getPeople(Model.searchTerm))
        {
            <partial name="_Person.cshtml"/>
        }
    }
</table>

